@{
    ViewData["Title"] = "Home Page";
    @model List<InvestorInfo>;
}

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <h4>Inputs</h4>
        </div>
        <div class="col-md-4">
            <h4>Results</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-7 card">
            <form>
                <div class="mb-3">
                    <label class="form-label mt-1">Total Available Allocation</label>
                    <input type="text" class="form-control" aria-describedby="totalAvailableAllocation">
                </div>

                <label class="form-label">Investor Breakdown</label>
                <div class="row">
                    <div class="col-md-4">
                        @foreach (var investorInfo in Model)
                        {
                            <input type="text" class="form-control mt-1" placeholder="Name" aria-describedby="name">
                        }
                    </div>
                    <div class="col-md-4">
                        @foreach (var investorInfo in Model)
                        {
                            <input type="text" class="form-control mt-1" placeholder="Requested Amount" aria-describedby="requestedAmount">
                        }
                    </div>
                    <div class="col-md-4">
                        @foreach (var investorInfo in Model)
                        {
                            <input type="text" class="form-control mt-1" placeholder="Average Amount" aria-describedby="averageAmount">
                        }
                    </div>
                </div>

                <button type="submit" class="btn btn-primary my-2">Prorate</button>
            </form>
        </div>

        <div class="col-md-4 offset-1 card">
            <div>
            </div>
        </div>
    </div>
</div>
